.navbar {
    display: grid;
    justify-content: space-evenly;
    justify-items: stretch;
    align-items: stretch;
}
.first {
    background-color: white;
    border-radius:5px;
    border-color: #0850F8;
    color: #0850F8;

}
.second {
    background-color: #0850F8;
    border-radius:5px;
    border-color: #0850F8;
    color: white;
}

.footer {
    background-color: #0850F8;
    width: 100%;
    height: 100%;
    padding: 50px;
    color: white;
}
.ending {
    display:grid;
    text-align: center;
    color: white;
    justify-content: space-evenly;
}
.one {
    background-color: rgb(39, 227, 61);
    color: white;
    border-radius: 5px;
    font-style: bold;
    padding: 6px;
    border-width: .05px;
}
.two {
    background-color:white;
    color: #0850F8;
    align-items: center;
    border-radius: 5px;
    font-style: bold;
    padding: 6px;
    border-width: .05px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 73vh 60vh 40vh 40vh;
    gap: 5px;
}

.right-image{
    width: 100%;
    grid-column: 2;
    margin-top: 90px;
}

.articles_1{
    grid-column: 1;
    grid-row: 1;
    margin: 80px;
    margin-top: 40px;
}

.articles_1 h1 {
    margin-top: 80px;
    font-weight: bold;
}

.articles_1 h2{
    margin-top: -13px;
}

.articles_1 h3 {
    white-space: nowrap;
    margin-top: -8px;
    color: gray;
}

.articles_2 {
    grid-column: 1;
    grid-row: 3;
    margin: 80px;
    margin-top: -180px;
    color:gray;
}

a:-webkit-any-link {
    color: rgb(97, 96, 96);
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.buttons-container{
    grid-column: 1;
    grid-row: 2 ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 5px;
    margin-top: 30px;
}

#sign-up-button {
    margin:0;
    background-color:blue;
    border: 1px solid blue;
    color: white;
    width: 170px;
    height: 50px;
    border-radius: 2vh;
    font-weight: bold;
    font-size: 16px;
    padding: 7px 10px;
    margin-left: 80px;
}

.bi-chevron-double-right {
    font-size: 0.7em;
    margin-left: 27px;
    font-weight: bold;
    margin-top: -2px;
}

#chat-button {
    width: 170px;
    height: 50px;
    margin: 0;
    border-radius: 2vh;
    border: 1px solid blue;
    background-color: white;
    color: blue;
    font-weight: bold;
    font-size: 16px;
    padding: 7px 10px;
    margin-right: 80px;
    margin-left: 10px;
}

.bi-chat-dots-fill{
    margin-right: 4px;
    font-size: 18px;
    margin-top: 3px;
}

.blue-color{
    color:blue;
}

.main-container {
    grid-row: 4;
    grid-column: 1;
    margin: 0;
}

.box {
    grid-column: 1;
    grid-row: 4;
    margin: 78px;
    display: flex;
    flex-direction: row;
    justify-content:left;
    gap: 10px;
    white-space: nowrap;
    margin-top: -315px;
}


.image-text {
    color: black;
    font-weight: bold;
    font-size: 12px;
    align-items: center;
    margin-top: -7px;
    margin-bottom: 10px;
    margin-left: 4px;
}

.bullet{
    font-size: 17px;
    color: blue;
    margin-top: 9px;
    margin-left: 3px;
}
