*{
    margin: 0;
    padding: 0;
}
.o-flex-container{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.o-flex-item{
    margin:10px;
    border: 3px solid black;
    background-color: #0850F8;
}
.flex-item-1{
    width: 50%;
}
.flex-item-3,.flex-item-7{
    width: 40%;
    text-align: center;
}
.o-flex-container-1{
    display:flex;
    justify-content:center;
}
.o-container1{
    width: "100px";
    margin: 50px;
    border: 3px solid black;
}
.o-items{
    display: flex;
    align-items: center;
}
.o-items div{
    background-color:#0850F8;
    height: 100%;
    width: 100%;
}
#collect{
    text-align: center;
}